</body>
<div class="footer">
    <h2 class="footer-title bebas-neue-regular">MovieHub</h2>
    <ul class="social-icon">
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-brands fa-twitter"></i></li>
        <li><i class="fa-brands fa-linkedin"></i></li>
        <li><i class="fa-brands fa-discord"></i></li>
    </ul>
    <h2 class="footer-view">This Website is Created using TMDB API</h2>
    <p class="copyright">MovieHub © 2024</p>
</div>